{% extends "base.html.twig" %}

{% block body %}

<form action="{{ path('article_new') }}" method="post">
    <div class="form-group">
        <label for="formTitle">Titre de l'article</label>
        <input type="text" class="form-control" id="formTitle" name="title">
    </div>
    <div class="form-group">
        <label for="formContent">Contenu de l'article</label>
        <textarea id="formContent" class="form-control" name="content"></textarea>
    </div>

    <button class="btn btn-primary">Créer l'article</button>
</form>

{% endblock %}